.button
{
    -fx-background-color : rgba(208, 92, 17, 0.71);
    -fx-text-fill : white;
    -fx-background-radius: 30;
}
.button:hover{
    -fx-background-color : rgba(250, 108, 29, 0.78);
}
.button:pressed
{
    -fx-background-color : rgba(140, 57, 10, 0.87);
}

